---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores(area(80202,25))?apiKey=hhp47b5bvjda7pj44gsauf78&format=json&pageSize=10&show=city,storeType,distance,longName,phone
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"from":1,"to":10,"currentPage":1,"total":16,"totalPages":2,"queryTime":"0.193","totalTime":"0.205","partial":false,"canonicalUrl":"/v1/stores(area(\"80202\",25))?show=city,storeType,distance,longName,phone&pageSize=10&format=json&apiKey=hhp47b5bvjda7pj44gsauf78","stores":[{"city":"DENVER","storeType":"Mobile
        SAS","distance":3.45,"longName":"BEST BUY MOBILE - CHERRY CREEK SHOPPING CENTER","phone":"303-270-9189"},{"city":"LAKEWOOD","storeType":"Big
        Box","distance":5.31,"longName":"BEST BUY - BELMAR","phone":"303-742-8039"},{"city":"DENVER","storeType":"Big
        Box","distance":5.59,"longName":"BEST BUY - COLORADO BLVD","phone":"303-758-5805"},{"city":"LAKEWOOD","storeType":"Big
        Box","distance":8.39,"longName":"BEST BUY - DENVER WEST","phone":"303-273-5617"},{"city":"WESTMINSTER","storeType":"Big
        Box","distance":8.52,"longName":"BEST BUY - WESTMINSTER","phone":"303-426-4434"},{"city":"DENVER","storeType":"Big
        Box","distance":9.14,"longName":"BEST BUY - NORTHGLENN","phone":"303-252-8677"},{"city":"AURORA","storeType":"Mobile
        SAS","distance":9.73,"longName":"BEST BUY MOBILE - TOWN CENTER AT AURORA","phone":"303-326-0848"},{"city":"AURORA","storeType":"Big
        Box","distance":9.79,"longName":"BEST BUY - AURORA","phone":"303-338-5797"},{"city":"LAKEWOOD","storeType":"Big
        Box","distance":10.44,"longName":"BEST BUY - LITTLETON","phone":"303-932-7830"},{"city":"CENTENNIAL","storeType":"Big
        Box","distance":11.02,"longName":"BEST BUY - SOUTHGLENN","phone":"303-797-3246"}],"warnings":"Distances
        are in terms of miles (default)"}'
  recorded_at: Thu, 13 Apr 2017 15:58:41 GMT
recorded_with: VCR 3.0.3
